.ldap_setting {
    width: 700px;
    margin: 0px auto;
}
.ldap_setting #titlebar{
    font-size: 20px;
}
.ldap_select_proto {
    padding: 0px;border:none;
}
.ldap_select_proto select {
    width:70px;
    min-width:70px;
    margin-right: -1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.ldap_select_proto select:focus{
    z-index: 1000;
}
.ldap_port {
    width:60px;
    min-width:60px;
}
.ldap_setting .form-condensed .input-group>.input-group-addon:first-child {
    padding: 0px;
}
.ldap_setting .table-form>tbody>tr>th,.table-form>tbody>tr>td{
    padding: 5px;
}
.ldap_setting #ldapHost{
    width: 330px;
}
.ldap_setting .alert{
    position: absolute;
    margin: 0px auto;
    width: 535px;
    padding: 7px;
    top: -4px;
    left: 155px;
    text-align: center;
    right: 0px;
}
#showModuleModal .alert{    
    position: absolute;
    margin: 0px auto;
    width: 300px;
    padding: 7px;
    top: 13px;
    left: 70px;
    text-align: center;
    right: 0px;
}
.alert .costomer_close{
    margin-top: 2px;
    float: right;
    font-size: 14px;
}
.alert.alert-info{
    border: 1px solid #0e95f996;
}
.alert.alert-danger{
    border: 1px solid #f62c2cbd;
}
.has_enable_tls {
    display: none;
}
.has_enable_tls.enable {
    display: table-row;
}
.ldap_upload_file_btn {
    position: absolute;
}
input[type='file'] {
    outline: none;
    padding: 3px;
}
input[type='file']:hover{
    outline: none;
}